.entrar{
    color:white;
    padding-left: 45%;
    
}
.sair{
    color: white;
    padding-left: 47%;
}
h1{
    padding-left: 35%;
}
h3{
    padding-left: 4%;
}
form{
    padding-left: 4%;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: slategray;
}