.voltar{
    color: white;
    padding-left: 43%;
}
h1{
    padding-left: 5%;
}
h3{
    padding-left: 4%;
}
p{
    padding-left: 4%;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: slategray;
}