.cadastrar{
    color: white;
    padding-left: 40%;
    
}


.entrar{
    color: white;
    padding-left: 43%;
    padding-top: 50%;
}
h1{
    padding-left: 28%;
}
h5{
padding-left: 20%;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: slategray;
}

